Source: dpdk-vhost-vfe
Priority: optional
Maintainer: deb_dpdk Packagers <deb-dpdk@lists.fd.io>
Build-Depends: debhelper (>= 10.3~),
               dh-python,
               doxygen <!nodoc>,
               graphviz <!nodoc>,
               inkscape <!nodoc>,
               libcap-dev,
               libnuma-dev,
               libpcap-dev,
               meson (>= 0.41~),
               pkg-config,
               python3,
               python3-sphinx <!nodoc>,
               python3-sphinx-rtd-theme <!nodoc>,
               texlive-fonts-recommended <!nodoc>,
               texlive-latex-extra <!nodoc>,
               zlib1g-dev,
               libev-dev,
               uuid-dev,
Standards-Version: 4.2.1
Rules-Requires-Root: no
Section: libs
Homepage: https://github.com/Mellanox/dpdk-vhost-vfe

Package: dpdk-vhost-vfe
Section: admin
Architecture: amd64 arm64
Depends: hwdata,
         lsb-base (>= 3.2-14),
         pciutils,
         ${misc:Depends},
         ${python3:Depends},
         ${shlibs:Depends},
Recommends: python3-pyelftools,
Description: dpdk-vhost-vfe (runtime)
 This package contains the runtime dpdk-vhost-vfe applications based on
 DPDK.
